body {
  font-family: Arial, serif;
  font-size: 12px;
}

tr .info.left {
	float: left;
}

tr .info.count {
	float: right;
	text-align: right;
	visibility: hidden;
	border: dashed 1px;
	padding: 0px 1px 0px 1px;
	margin: -1px 0px -1px 24px;
}

tr:hover .info.count {
	visibility: visible;
	color: #aaa;
}

tr.np:hover .info.count {
	color: #d77;
}

tr:hover td {
	background-color: #eee;
}

td, th {
	padding: 2px 8px 2px;
	border: outset 1px;
	border-color: #fff;
}

th {
	text-align: left;
	font-weight: bold;
	border-color: #ccc;
}

td a:link, td a:visited {
	color: #000;
	text-decoration: none;
}

td a:hover {
	color: #339;
	text-decoration: underline;
}