.error_page h1 {
    font-size: 10em;
}

.error_page h3 {
    font-size: 7em;
}

.server_is_sad,
.server_is_angry {
    position: relative;
    left: 0.9em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.server_is_angry {
    color: #800;
}

.navbar-custom {
    border-radius: 0;
}

.navbar-custom .navbar-brand {
    color: #dadada;
}

.messages {
    margin-bottom: 25px;
}

.alert {
    padding: 5px 10px;
    padding-right: 30px;
    margin: 5px;
}

h2.title {
    padding-bottom: 24px;
    left: 0;
}

h2 .dropdown {
    display: inline;
}

tr.nowplaying,
.nowplaying td {
    background-color: #fcf8e3;
}

.chart {
    width: 100%;
}


/* latest scrobbles */

.chart .id {
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.chart .time {
    font-size: 0.85em;
    text-align: right;
    vertical-align: middle;
    width: 120px;
}


/* charts */

.chart tr {
    white-space: nowrap;
}

.chart .name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    min-width: 300px;
    max-width: 450px;
}

.chart .place {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.chart .place_position {
    width: 80px;
}

.chart .place_position span {
    font-size: 0.8em;
    font-weight: normal;
}

.chart .scrobbles {
    width: 200px;
}

.chart .scrobbles .progress {
    margin-bottom: 0;
}

.chart .scrobbles .progress .progress-bar {
    text-align: left;
    padding-left: 0.4em;
    min-width: 40px;
    opacity: 0.6;
}

.form-group.required .control-label:after {
    content: "*";
    color: #d33;
}


/* carousel (top yearly artists) */

#yearly_artists {
    width: 1260px;
    left: -420px;
}

.carousel-inner .carousel-control {
    display: none !important;
}

.carousel-inner .active .carousel-control {
    display: inline !important;
}

.carousel-inner .active.left {
    left: -33%;
}

.carousel-inner .next {
    left: 33%;
}

.carousel-inner .prev {
    left: -33%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    color: black;
    top: -8px;
    line-height: 10px;
    position: relative;
}

.carousel-control.left {
    left: -16px;
}

.carousel-control.right {
    left: 12px;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    background: #fff;
    color: #888;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-on .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #cccccc;
}
