{% extends "base.html" %}

{% block title %}Artist Maintenance{% endblock %}
{% block toolbar %}
  {% if request.args.get('show_ignored') %}
    <a href="." class="btn btn-xs btn-warning" role="button"><i class="glyphicon glyphicon-search"></i> show all</a>
  {% else %}
    <a href="?show_ignored=1" class="btn btn-xs btn-warning" role="button"><i class="glyphicon glyphicon-search"></i> show ignored</a>
  {% endif %}
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped table-condensed table-hover chart">
      <tr>
        <th class="id">#</th>
        <th class="name">Artist Left</th>
        <th class="id">#</th>
        <th>Apply</th>
        <th class="id">#</th>
        <th class="name">Artist Right</th>
      </tr>
      {% for diff in diffs %}
        <tr>
          <td class="place">{{ diff.id }}</td>
          <td class="name">
            <a href="{{ url_for('webui.artist', name=diff.artist1) }}"><pre>{{ diff.artist1 }}</pre></a>
          </td>
          <td class="id">{{ artist_count[diff.artist1] }}</td>
          <td>
            <a href="{{ url_for('webui.maintenance_artist_fix', id=diff.id, direction=2) }}" class="btn btn-xs btn-info" role="button">
              <i class="glyphicon glyphicon-menu-left"></i>
            </a>
            <a href="{{ url_for('webui.maintenance_artist_fix', id=diff.id, direction=0) }}" class="btn btn-xs btn-warning" role="button">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
            <a href="{{ url_for('webui.maintenance_artist_fix', id=diff.id, direction=1) }}" class="btn btn-xs btn-info" role="button">
              <i class="glyphicon glyphicon-menu-right"></i>
            </a>
          </td>
          <td class="id">{{ artist_count[diff.artist2] }}</td>
          <td class="name">
            <a href="{{ url_for('webui.artist', name=diff.artist2) }}"><pre>{{ diff.artist2 }}</pre></a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
