{% extends "base.html" %}
{% from 'partials/macros.html' import select_period, select_metatype with context %}

{% block meta_title %}
  Top artists
{% endblock %}

{% block title %}
  {% if custom_range %}
    Top {{ select_metatype('artists') }} from {{ time_from.strftime('%Y-%m-%d') }} to {{ time_to.strftime('%Y-%m-%d') }}
  {% else %}
    Top {{ select_metatype('artists') }} for {{ select_period('webui.top_artists', period) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table class="table table-striped table-condensed table-hover chart">
    {# <tr><th class="place">#</th><th class="name">Artist</th><th class="scrobbles">Scrobbles</th></tr> #}
    {% for place, scrobble in chart %}
      <tr>
        <td class="place">{{ place }}</td>
        <td class="name"><a href="{{ url_for('webui.artist', name=scrobble.artist) }}">{{ scrobble.artist }}</a></td>
        <td class="scrobbles">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ scrobble.count }}" aria-valuemin="0" aria-valuemax="{{ max_count }}" style="width: {{ ((scrobble.count / max_count) * 100)|int }}%;">
              <span>{{ scrobble.count }}</span>
            </div>
          </div>
        </td>
      </tr>
      {% else %}
        No data for this period :(
    {% endfor %}
  </table>
</div>
<div class="col-md-3"></div>
{% endblock %}
