{% extends "base.html" %}

{% block title %}
  {{ artist.name or request.view_args.name|title }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    {% if artist.tags %}
      {% for tag in artist.tags %}
        <a href="{{ url_for('webui.tag', name=tag) }}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
      <hr>
    {% endif %}

    {% if artist.bio %}
      <h4>Biography</h4>
      {{ artist.bio }}
      <hr>
    {% endif %}

    <h4>Top tracks</h4>
    <table class="table table-striped table-condensed table-hover chart">
      {# <tr><th class="place">#</th><th class="name">Track</th><th class="scrobbles">Scrobbles</th></tr> #}
      {% for place, scrobble in top_tracks %}
        <tr>
          <td class="place">{{ place }}</td>
          <td class="name">{{ scrobble.track }}</td>
          <td class="scrobbles">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ scrobble.count }}" aria-valuemin="0" aria-valuemax="{{ max_track_scrobbles }}" style="width: {{ ((scrobble.count / max_track_scrobbles) * 100)|int }}%;">
                <span>{{ scrobble.count }}</span>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>

    <h4>Top albums</h4>
    <table class="table table-striped table-condensed table-hover chart">
      {# <tr><th class="place">#</th><th class="name">album</th><th class="scrobbles">Scrobbles</th></tr> #}
      {% for place, scrobble in top_albums %}
        <tr>
          <td class="place">{{ place }}</td>
          <td class="name">{{ scrobble.album }}</td>
          <td class="scrobbles">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ scrobble.count }}" aria-valuemin="0" aria-valuemax="{{ max_album_scrobbles }}" style="width: {{ ((scrobble.count / max_album_scrobbles) * 100)|int }}%;">
                <span>{{ scrobble.count }}</span>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-md-5">
    <img src="{{ artist.image_url }}">
  </div>
</div>
{% endblock %}
