{% extends "base.html" %}

{% block title %}
  {{ request.view_args.name|title }}
{% endblock %}

{% block content %}
<div class="col-md-9">
  <h4>Top tracks</h4>
  <table class="table table-striped table-condensed table-hover chart">
    {# <tr><th class="place">#</th><th class="name">Track</th><th class="scrobbles">Scrobbles</th></tr> #}
    {% for place, scrobble in chart %}
      <tr>
        <td class="place">{{ place }}</td>
        <td class="name">{{ scrobble.track }}</td>
        <td class="scrobbles">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ scrobble.count }}" aria-valuemin="0" aria-valuemax="{{ max_count }}" style="width: {{ ((scrobble.count / max_count) * 100)|int }}%;">
              <span>{{ scrobble.count }}</span>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-3"></div>
{% endblock %}
