{% extends "base.html" %}

{% block head %}
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>
{% endblock %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>per-hour heat map</h2>

    <div id="chart"></div>
    <div id="dataset-picker">
    </div>
    <script type="text/javascript">
      var margin = { top: 50, right: 0, bottom: 100, left: 30 },
          width = 960 - margin.left - margin.right,
          height = 320 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 40),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = colorbrewer.YlOrRd[9],
          days = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
          times = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "00"];
          datasets = ["all", /*"2006", "2007", "2008",*/ "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"];

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 8 && i <= 20) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

      var heatmapChart = function(year) {
        d3.json("{{ url_for('webui.ajax_dashboard_per_hour') }}?year=" + year,
        function(data) {
          var colorScale = d3.scale.quantile()
              .domain([0, d3.max(data, function (d) { return d[2]; })])
              .range(colors);
          // var colorScale = d3.scale.quantile()
          //     .domain([0, buckets - 1, d3.max(data, function (d) { return d[2]; })])
          //     .range(colors);

          var cards = svg.selectAll(".hour")
              .data(data, function(d) {return d[0]+':'+d[1];});

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { return (d[1] - 1) * gridSize; })
              .attr("y", function(d) { return (d[0] - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d[2]); });

          cards.select("title").text(function(d) { return d[2]; });

          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);

          legend.exit().remove();

        });
      };

      heatmapChart(datasets[0]);

      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ return d })
        .attr("type", "button")
        .attr("class", "dataset-button")
        .on("click", function(d) {
          heatmapChart(d);
        });
    </script>

  </div>

  <div class="col-md-6">
  </div>
</div>
{% endblock %}
