{% extends "base.html" %}

{% block title %}
  Latest scrobbles
{% endblock %}

{% block content %}
<div class="col-md-9">
  {% if scrobbles %}
    <table class="table table-striped table-condensed table-hover chart">
      {# <tr><th class="col-md-1 id">#</th><th class="col-md-9 name">Track</th><th class="col-md-2 time">Scrobbled</th></tr> #}
      {% if nowplaying %}
        <tr class="nowplaying">
          <td class="id">now</td>
          <td class="name"><a href="{{ url_for('webui.artist', name=nowplaying.artist) }}">{{ nowplaying.artist }}</a> – {{ nowplaying.track }}</td>
          <td class="token"><span class="label label-default">{{ nowplaying.token.name }}</span></td>
          <td class="time"><span title="{{ nowplaying.played_at }}">{{ nowplaying.played_at|timesince }}</span></td>
        </tr>
      {% endif %}
      {% for scrobble in scrobbles %}
        <tr>
          <td class="id">{{ scrobble.id }}</td>
          <td class="name"><a href="{{ url_for('webui.artist', name=scrobble.artist) }}">{{ scrobble.artist }}</a> – {{ scrobble.track }}</td>
          <td class="token"><span class="label label-default">{{ scrobble.token.name }}</span></td>
          <td class="time"><span title="{{ scrobble.played_at }}">{{ scrobble.played_at|timesince }}</span></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    There's nothing scrobbled yet :(
  {% endif %}
</div>
<div class="col-md-3"></div>
{% endblock %}
