{% extends "base.html" %}

{% block title %}
  Latest scrobbles
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table class="table table-striped table-condensed table-hover chart">
    {# <tr><th class="col-md-1 id">#</th><th class="col-md-9 name">Track</th><th class="col-md-2 time">Scrobbled</th></tr> #}
    {% for scrobble in scrobbles %}
      <tr>
        <td class="id">{{ scrobble.id }}</td>
        <td class="name">{{ scrobble.artist }} – {{ scrobble.track }}</td>
        <td class="time"><span title="{{ scrobble.time }}">{{ scrobble.time|timesince }}</span></td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-3"></div>
{% endblock %}
