{% extends "base.html" %}

{% block title %}
  Search Results
{% endblock %}

{% block content %}
<div class="col-md-5">
  <h4>Artists</h4>
  <table class="table table-striped table-condensed table-hover chart">
    {% for id, object in artists %}
      <tr>
        <td class="id">{{ id }}</td>
        <td class="name"><a href="{{ url_for('webui.artist', name=object.artist) }}">{{ object.artist }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-5">
  <h4>Tracks</h4>
  <table class="table table-striped table-condensed table-hover chart">
    {% for id, object in tracks %}
      <tr>
        <td class="id">{{ id }}</td>
        <td class="name"><a href="{{ url_for('webui.artist', name=object.artist) }}">{{ object.artist }}</a> – {{ object.track }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-2"></div>
{% endblock %}
