{% extends "base.html" %}

{% block title %}
  Top yearly artists
{% endblock %}

{% block content %}
  <div class="carousel" data-ride="carousel" data-type="multi" data-interval="0" id="yearly_artists">
    <div class="carousel-inner">
      {% for year, chart in charts %}
        <div class="item{% if loop.revindex == 3 %} active{% endif %}">
          <div class="col-md-4">
            <h3><a class="left carousel-control" href="#yearly_artists" data-slide="prev"><i class="glyphicon icon-prev"></i></a>
            {{ year }}
            <a class="right carousel-control" href="#yearly_artists" data-slide="next"><i class="glyphicon icon-next"></i></a>
            </h3>
            <table class="table table-bordered table-striped table-condensed chart yearly_chart">
            <tr>
              <th class="place_position">#</th>
              <th class="name">Artist</th>
              <th class="scrobbles">Scrobbles</th>
            </tr>
            {% for position in chart[:show_count] %}
              <tr>
              <td class="place_position">
                {{ loop.index }}
                  {% if year in position_changes and position.artist in position_changes[year] %}
                    {% if position_changes[year][position.artist] == 'new' %}
                      <span class="label label-warning">new</span>
                    {% elif position_changes[year][position.artist] > 0 %}
                      <span class="label label-success">▲ {{ position_changes[year][position.artist] }}</span>
                    {% elif position_changes[year][position.artist] < 0 %}
                      <span class="label label-danger">▼ {{ position_changes[year][position.artist] }}</span>
                    {% elif position_changes[year][position.artist] == 0 %}
                      <span class="label label-default">↕0︎</span>
                    {% endif %}
                  {% else %}
                    <span class="label label-warning">new</span>
                  {% endif %}
              </td>
                <td class="name">{{ position.artist }}</td>
                <td class="scrobbles">{{ position.count }}</td>
              </tr>
            {% endfor %}
            </table>

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
