{% extends "base.html" %}

{% block title %}
  Settings
{% endblock %}

{% block content %}
<div class="row">
  <h4>Change API password</h4>
  <div class="col-md-6">
    <form class="form-horizontal" action="{{ url_for('webui.settings') }}" method="post">
      {{ form_api_password.csrf_token }}
      <div class="form-group">
        {{ form_api_password.current_password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_api_password.current_password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        {{ form_api_password.password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_api_password.password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        {{ form_api_password.repeat_password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_api_password.repeat_password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          {{ form_api_password.api_password_submit(class_="btn btn-default") }}
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <h4>Change WebUI password</h4>
  <div class="col-md-6">
    <form class="form-horizontal" action="{{ url_for('webui.settings') }}" method="post">
      {{ form_webui_password.csrf_token }}

      <div class="form-group">
        {{ form_webui_password.current_password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_webui_password.current_password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        {{ form_webui_password.password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_webui_password.password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        {{ form_webui_password.repeat_password.label(class_="col-sm-4 control-label") }}
        <div class="col-sm-6">
          {{ form_webui_password.repeat_password(class_="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          {{ form_webui_password.webui_password_submit(class_="btn btn-default") }}
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <h4>Tokens</h4>
  <div class="col-md-6 row">
    <form class="form" action="{{ url_for('webui.settings') }}" method="post">
      {{ form_add_token.csrf_token }}

      <div class="form-group row">
        <div class="col-sm-4">
          {{ form_add_token.name(class_="form-control", placeholder="Name") }}
        </div>
        <div class="col-sm-4">
          {{ form_add_token.key(class_="form-control", placeholder="Key") }}
        </div>
        <div class="col-sm-4">
          {{ form_add_token.token_submit(class_="btn btn-default") }}
        </div>
      </div>
    </form>

    <div class="row">
      <h5>Your tokens</h5>
      <table class="table table-condensed table-hover">
        <tr><th>Name</th><th>Key</th></tr>
        {% for token in tokens %}
          <tr><td>{{ token.name }}</td><td>***</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

{% endblock %}
