<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('webui.index') }}">
        scrobbler
        {% if current_user.is_authenticated %}
          <sup>{{ PROJECT_VERSION }}</sup>
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {# +- title, login_required, urls #}
        {# +-- url, login_required, title #}
        {% set elements = [
          ("Dashboard", True, [
            (url_for('webui.dashboard'), True, "Dashboard")
          ]),

          ("Latest", True, [
            (url_for('webui.last_scrobbles'), True, "Latest")
          ]),

          ("Charts", True, [
            (url_for('webui.top_artists'), True, "Top Artists"),
            (url_for('webui.top_tracks'), True, "Top Tracks"),
            ('---'),
            (url_for('webui.top_yearly_artists'), True, "Top Yearly Artists"),
            (url_for('webui.top_yearly_tracks'), True, "Top Yearly Tracks"),
          ]),

          ("Stats", True, [
            (url_for('webui.milestones'), True, "Milestones"),
            ('---'),
            (url_for('webui.unique_yearly'), True, "Unique Yearly"),
            (url_for('webui.unique_monthly'), True, "Unique Monthly"),
          ]),
        ] %}

        {% for name, login_required, urls in elements %}
          {% if urls|length > 1 %}
            {% if (not login_required or (login_required and current_user.is_authenticated)) and (not admin_required or (admin_required and current_user.is_admin)) %}
              <li class="dropdown {% for url, _, subname in urls %}{% if url in request.path %}active{% endif %}{% endfor %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for url, sub_login_required, sub_name in urls %}
                    {% if url == '-' %}
                      <li role="separator" class="divider"></li>
                    {% else %}
                      {% if not sub_login_required or (sub_login_required and current_user.is_authenticated) %}
                        <li{% if url in request.path %} class="active"{% endif %}>
                          <a href="{{ url }}">{{ sub_name }}</a>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% else %}
            {% if not login_required or (login_required and current_user.is_authenticated) %}
              <li{% if urls[0][0] in request.path %} class="active"{% endif %}>
                <a href="{{ urls[0][0] }}">{{ name }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if current_user.is_authenticated %}
          <li>
            <form class="navbar-form" role="search" action="{{ url_for('webui.search') }}" method="get">
              <div class="input-group add-on">
                <input type="text" class="form-control" placeholder="Search" name="q" id="q">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Admin<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Maintenance</li>
                <li><a href="{{ url_for('webui.maintenance_artists') }}">Artists</a></li>
                <li><a href="{{ url_for('webui.maintenance_tracks') }}">Tracks</a></li>
                <li><a href="{{ url_for('webui.maintenance_corrections') }}">Corrections</a></li>
              </ul>
            </li>
          {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ current_user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="{{ url_for('webui.settings') }}">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('webui.logout') }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ url_for('webui.login') }}">Log in</a></li>
          {% if SIGNUP_ENABLED %}
            <li><a href="{{ url_for('webui.register') }}">Register</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
