<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('webui.index') }}">scrobbler</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {% set elements = [
          ("Dashboard", [
            url_for('webui.dashboard')
          ]),

          ("Latest", [
            url_for('webui.last_scrobbles')
          ]),

          ("Charts", [
            (url_for('webui.top_artists'), "Top Artists"),
            (url_for('webui.top_tracks'), "Top Tracks")
          ]),

          ("Milestones", [
            url_for('webui.milestones')
          ])

        ] %}

        {% for name, urls in elements %}
          {% if urls|length > 1 %}
            <li class="dropdown {% for url, subname in urls %}{% if url in request.path %}active{% endif %}{% endfor %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ name }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for url, subname in urls %}
                  <li{% if url in request.path %} class="active"{% endif %}>
                    <a href="{{ url }}">{{ subname }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li{% if urls[0] in request.path %} class="active"{% endif %}>
              <a href="{{ urls[0] }}">{{ name }}</a>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ current_user }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
