<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('webui.index') }}">scrobbler</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {# +- title, login_required, urls #}
        {# +-- url, login_required, title #}
        {% set elements = [
          ("Dashboard", True, [
            (url_for('webui.dashboard'), True, "Dashboard")
          ]),

          ("Latest", True, [
            (url_for('webui.last_scrobbles'), True, "Latest")
          ]),

          ("Charts", False, [
            (url_for('webui.top_artists'), False, "Top Artists"),
            (url_for('webui.top_tracks'), False, "Top Tracks")
          ]),

          ("Milestones", True, [
            (url_for('webui.milestones'), True, "Milestones")
          ])

        ] %}

        {% for name, login_required, urls in elements %}
          {% if urls|length > 1 %}
            {% if not login_required or (login_required and current_user.is_authenticated) %}
              <li class="dropdown {% for url, _, subname in urls %}{% if url in request.path %}active{% endif %}{% endfor %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for url, sub_login_required, sub_name in urls %}
                    {% if not sub_login_required or (sub_login_required and current_user.is_authenticated) %}
                      <li{% if url in request.path %} class="active"{% endif %}>
                        <a href="{{ url }}">{{ sub_name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% else %}
            {% if not login_required or (login_required and current_user.is_authenticated) %}
              <li{% if urls[0][0] in request.path %} class="active"{% endif %}>
                <a href="{{ urls[0][0] }}">{{ name }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <li>
          <form class="navbar-form" role="search" action="{{ url_for('webui.search') }}" method="get">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="q">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ current_user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('webui.logout') }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ url_for('webui.login') }}">Log in</a></li>
          <li><a href="{{ url_for('webui.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
