# Flask
DEBUG = True

# Flask / Flask-Login
SECRET_KEY = 'ChangeMe'

# Flask-Bcrypt
BCRYPT_LOG_ROUNDS = 12

# Flask-SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'postgresql://scrobbler:scrobbler@localhost:5432/scrobbler'
SQLALCHEMY_TRACK_MODIFICATIONS = True

# Scrobbler
RESULTS_COUNT = 20

# PyLast
LASTFM_API_KEY = ""
LASTFM_API_SECRET = ""
LASTFM_USERNAME = ""
LASTFM_PASSWORD = ""